@font-face {
    font-family: Roboto;
    font-display:swap;
    src: url(https://imdiz.ru/files/store/fonts/Roboto.ttf);
}
*{
    box-sizing: border-box;
}
/* END */



 
 

 
 
 
.search-input {
    color: #fff;
    width: 90%;
    height: 100%;
    font-size: 12px;
}
::-webkit-input-placeholder {
    color: #fff
}

:-moz-placeholder {
    color: #fff
}

::-moz-placeholder {
    color: #fff
}

:-ms-input-placeholder {
    color: #fff
}
 
.search-i {
    color: #fff;
}
.cart-informer {
    color: #fff;
    padding-top: 0;
    padding-left: 20px;
}
.cart-informer__button {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.cart-informer__count {
    color: #111;
    font-size: 10px;
    background-color: #fff;
    width: 23px;
    height: 23px;
    margin-right: -4px;
    margin-left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.cart-informer__icon {
    width: 45px;
    height: 45px;
    border: 1px solid rgba(255,255,255,.2);
    display: flex;
    align-items: center;
    justify-content: center;    
}
.cart-informer__icon-i {
    color: #fff;
}
.cart-informer__i, .cart-informer__value {
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    padding-left: 10px;
}
.cart-informer__i {
    font-size: 11px;
    margin-top: -2px;
}



/* NEW */
.menu {
    height: 60px;
    position: absolute; 
    
     
}
.menu__container {
    position: relative;
}
.catalog {
    position: absolute;
    width: 260px;
    top: 0;
    background-color: #fff;
    margin-left: 0px;;
}
.catalog__header {
    height: 60px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #e0e0e0;
    
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-left: 0px;
}
.catalog__header-icon {
    font-size: 21px;
}
.catalog__list {
    position: relative;
    z-index: 2;
}
ul {
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.catalog__link {
    height: 60px;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #e0e0e0;
    border-bottom: none;
    align-items: center;
    display: flex;
}
.catalog__link-img {
    margin-right: 10px;
    margin-top: -3px;
}
.catalog__subcatalog {
    width: 867px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #fff;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 280px;
    top: 0;
    height: 100%;
    padding: 20px;
    transition: all .3s;
}
.catalog__item:hover .catalog__subcatalog { 
    opacity: 1;
    visibility: visible; 
    left: 260px; 
}
.catalog__subcatalog-link {
    font-size: 14px;
    color: #111;
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu__nav {
    padding-left: 290px;
    height: 100%;
    display: flex;
    align-items: center;
}
.menu__nav-link {
    font-weight: bold;
    font-size: 14px;
    padding-right: 20px;
    transition: all .3s;
}
 
.menu__phone-icon {
    font-size: 18px;
}
.menu__phone-span {
    padding-left: 10px;
    padding-right: 5px;
    color: #111;
    transition: all .3s;
}
.menu__phone:hover .menu__phone-span {
    color: #cb2d41;
}
.slider {
    background: url(https://imdiz.ru/files/store/img/banner/bg-slider.png) no-repeat;
    height: 541px;
}
.slider__wrapper {
    width: 600px;
    margin-left: 400px;
    height: 541px;
}
.slider__carousel_desc {
    position: absolute;
    top: 110px;
    color: #fff;
}
.slider__carousel_desc-title {
    font-size: 90px;
}
.slider__carousel_desc-text {
    font-size: 35px;
    padding-top: 5px;
}
.slider__carousel_desc-text {
    font-size: 35px;
    padding-top: 5px;
}
.slider__carousel_button {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #cb2d41;
    width: 160px;
    height: 50px;
    margin-top: 20px;
    transition: all .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider__carousel_button:hover {
    background-color: #111;
    color: #fff;
}
.slider__img {
    display: block;
    width: 100%;
}
.slider__carousel{
    width: 100%;
    position: relative;
    z-index: 1;
}
p {
    margin: 0;
    padding: 0;
}
img {
    border-style: none;
}
a {
    color: #111;
    text-decoration: none;
}
a:hover {
    color: #cb2d41;
}

.content{
    margin-top: 0px;
    position: absolute;
    width: 90%;
    margin-left: 5%;
    height: 100%;
}